<div class="grid">
  <kendo-grid [data]="nbaPlayers | async" [sortable]="true" [resizable]="true">
    <kendo-grid-column
      [autoSize]="true"
      field="surname"
      title="Surname"
    ></kendo-grid-column>
    <kendo-grid-column
      [autoSize]="true"
      field="lastName"
      title="Lastname"
    ></kendo-grid-column>
    <kendo-grid-column
      [autoSize]="true"
      field="number"
      title="Jersey number"
    ></kendo-grid-column>
    <kendo-grid-column
      [autoSize]="true"
      field="franchise"
      title="Franchise"
    ></kendo-grid-column>
  </kendo-grid>
</div>
